@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('./IRANYEKANTHIN.TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./IRANYEKANLIGHT(FANUM).TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./IRANYEKANREGULAR(FANUM).TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./IRANYEKANMEDIUM.TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./IRANYEKANBOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./IRANYEKANEXTRABOLD.TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./IRANYEKANBLACK.TTF') format('truetype');
}

@font-face {
  font-family: 'IranYekan';
  font-style: normal;
  font-weight: 950;
  font-display: swap;
  src: url('./IRANYEKANEXTRABLACK.TTF') format('truetype');
}
* {
  direction: rtl !important;
  font-family: 'IranYekan', 'Tahoma', 'Arial', sans-serif !important;
}